<h2 class="text-center">

  <div class="myArena">
    <input type="checkbox" [(ngModel)]="isIndia"><label>Check Me</label><br/>
    <select [(ngModel)]="isState" class="form-control">
      <option value="">Select State</option>
      <option value="mumbai">Mumbai</option>
      <option value="surat">Surat</option>
      <option value="pune">Pune</option>
      <option value="delhi">Delhi</option>
    </select>


  <button (click)="toggleMe()" class="btn btn-secondary">Show Or Not</button>

  </div>

  <div *ngIf="isIndia" class="showhide">
    <p>Show Me Text</p>
    <p>Hide Me Text</p>

  </div>
</h2>
